@using BlazorReportViewer.Models

<div style="flex-direction: column; align-items: flex-start;">
    @foreach(var validationError in EditFieldValidationErrors) {
        <p>@GetText(validationError) <a href="" @onclick:preventDefault="true" @onclick="async () => await validationError.HighlightBrick.InvokeAsync()">View.</a></p>
    }
</div>

@code {
    [Parameter]
    public IEnumerable<EditFieldValidationInfo> EditFieldValidationErrors { get; set; }
    [Parameter]
    public Action CloseToast { get; set; }

    protected override void OnParametersSet() {
        base.OnParametersSet();
        if(!EditFieldValidationErrors.Any())
            CloseToast?.Invoke();
    }

    string GetText(EditFieldValidationInfo validationError) {
        string message = $"Page Number: {validationError.PageIndex + 1}.";
        if(!string.IsNullOrEmpty(validationError.EditFieldID))
            message += $" EditFieldID: {validationError.EditFieldID}.";

        if(validationError.Tag is string tagString ? !string.IsNullOrEmpty(tagString) : validationError.Tag != null)
            message += $" Tag: #{validationError.Tag}.";

        return message;
    }
}